@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: belle;
    src: url(../Fonts/Bellefair-Regular.ttf);
}
@font-face {
    font-family: barlow;
    src: url(../Fonts/BarlowCondensed-Regular.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100vh;
    position: relative;
    background-color: black;
}
/* for  */
.body-container1{
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;

}
.header{
    height: 80px;
    width: 100%;

}
.logo img{
 width: 40px;
}
.burgermenu{
    background-image: url(../assets/shared/icon-hamburger.svg);
    width: 21px;
    height: 18px;
    background-size: cover;
    transition: .2s;
    cursor: pointer;

}
.options-container{
    height: 100vh;
    width: 100%;
    top: 15rem;
    right: -4rem;
    transform: translateX(100%);
    transition: .3s;

}
.options-background{
    /* opacity: 90%; */
    backdrop-filter: blur(15px);
    height: 120vh;
    width: 100%;
}
.options{
top: 8rem;
font-family: barlow;
width: 100%;
}
.options li a{
    letter-spacing: 2.7px;
    font-size: 16px;
    z-index: 20;
}
.option-number{
   font-family: belle;
   font-weight: 600;
   padding-right: 6px;
}

/*  header javascript */
.menu-close{
    background-image: url(../assets/shared/icon-close.svg);
    width: 21px;
    height: 18px;
    background-size: cover;
    transition: .2s;
}
.menu-show{
    transform: translateX(0%);
    transition: .3s;
}

/* header end */
.hero-textsection{
    padding: 0px 30px;
}
.hero-textsection h1{
    font-size: 78px;
   font-family: belle;
   letter-spacing: 3px;

}
.hero-textsection p{
    font-size: 18px;
    font-family: barlow;
    letter-spacing: 4.75px;
    width: 100%;
}
.hero-textsection p:last-child{
    letter-spacing:0px;

}

.hero-btn{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    font-size: 18px;
    margin: 0 auto;
    letter-spacing: 2.7px;
}
/* for destination page */
.body-container2{
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden;   */
    width: 100%;
    background-size: cover;
}
.hero-moon{
    font-family: barlow;

}
.hero-moon p{
    letter-spacing: 3px;
    font-weight: 400;
}
.hero-moon img{
    width: 200px;
}
.herotext-content h1{
  font-family: belle;
  margin-bottom: .5rem;
}
.herotext-content ul{
    height: 35px;
}
.herotext-content ul>li>a{
    font-family: barlow;
    letter-spacing: 2.7px;
    font-weight: 400;
}
.herotext-content p{
   font-family: barlow;
   letter-spacing: .7px;
   font-weight: 400;
   font-size: 18px;
}
.distance-time h1{
    font-size: 36px;
}
.line{
    background-color: #50535b;
}
/* for active page destination */
.hero-options{
    height: 45px;
}

 .active2{
   border-bottom: 3px solid white;
   padding-bottom: 15px;
   color: white;
    

} 



/* for crew-page */
/* for crew background */
.body-container3{
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    height: 100vh;
    overflow-x: hidden;
    /* width: 100%; */
    background-size: cover;

}
.crewintro-text{
    font-family: barlow;
    letter-spacing: 3px;
    font-size: 20px;
    width: 80%;
    margin: 30px auto;
    margin-top: 0px;
}
.crew-img1 img{
width: 300px;
margin-left: 3rem;
height: 420px;
object-fit: cover;
/* for commander */
}
.crew-img img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-left: 0rem;
    }
.crew-line{
    width: 100%;
    height: 2px;
    background-color: #50535b;
}
.circle-navigation{
    width: 100px;
    /* background-color: aqua; */
    height: 30px;
    margin: 0 auto;
    margin-top: 2rem;
}
.circle{
    width: 12px ;
    height: 11px;
    background-color: #50535b;
    border-radius: 50%;
}
.circle.active{
    background-color: white;
}
.crew-title{
    font-family: belle;
    font-size: 25px;
}
.crew-membername{
    font-family: belle;
    font-size: 30px;
}
.crew-bio{
    font-family: barlow;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    padding:0px 10px
}
/* for spacelaunch page */
.body-container4{
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    height: 100vh;
    overflow-x: hidden;
    width: 100%; 
    background-size: cover;
}
.space-img{
    background-image: url(../assets/technology/image-launch-vehicle-landscape.jpg);
    width: 100%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}
/* for spaceport */
.space-img2{
    background-image: url(../assets/technology/image-spaceport-landscape.jpg);
    width: 100%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}
/* for capsule */
.space-img3{
    background-image: url(../assets/technology/image-space-capsule-landscape.jpg);
    width: 100%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}
.technology-spacetitle{
 font-family: barlow;
 letter-spacing: 3px;
 font-size: 20px;
}
.spacebtn-container{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  gap:10px
}
.spacebtn-container a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    color: white;
    font-family: belle;
}
.spacebtn-container a.active{
    background-color: white;
    color: black;
}
.spacetext-title{
    font-family: barlow;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
}
.space-topic{
    font-size: 30px;
    font-family: belle;
}
.space-paragraph{
    font-family: barlow;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 0px 15px;
    letter-spacing: 1px;
}
@media screen and (min-width:390px) {
    .header{
        margin-top: 2rem;
    }
    
    .options{
        top: 14rem;
    }
    .hero-container{
        margin-top: 2rem;
        gap: 4rem;
    }
    .hero-btn{
        width: 160px;
        height: 150px;
        border-radius: 50%;
        font-size: 18px;
        margin: 0 auto;
        letter-spacing: 2.7px;
    }
}
/* for tablet */
@media screen and (min-width:768px) {
   .header{
    margin-top: 10px;
   }

    .body-container1{
        overflow-x: hidden;
       overflow-y: scroll;
       background-image: url(../assets/home/background-home-tablet.jpg);
    }
    .logo img{
        width: 50px;
    }
    .options-container{
        transform: translateX(0%);
        height: 60px;
        top: 0px;
        width: 70%;
        top: 0rem;
    }
    .active1{
        border-bottom: 3px solid white;
        padding-bottom: 15px;
        color: white;
    }
    .options-background{
        height: 100px;
        margin-top: -1.5rem;
        background-color: #252832;



    }
    .options{
        top: 1rem;
    }
   .options li>a{
    letter-spacing: 2.7px;
   }
    .options li a span{
        display: none;

    }
    /* hero-section */

    .hero-container{
        height: 900px;
        margin-top: 2rem;
        gap: 5rem;
        justify-content: unset;
    }
    .hero-textsection h1{
        font-size: 140px;
        margin-bottom: 0px;
        height: 170px;
    }
    .hero-textsection p:last-child{
       width: 55%;
       margin: 5px auto;
        letter-spacing: .7px;
       font-size: 18px;
    }
    .hero-btn{
        width: 260px;
        height: 250px;
        font-size: 25px;
    }
    /*  for destination pages*/
    .hero-moon img{
       width: 250px;
    }
    /* for planets */
    .planet-text{
        font-size: 100px;
    }
    /* for distance and time */
    .distance-time h1{
        font-size: 36px;
    }

  
    

/* for crew-page */
/* for crew background */
.body-container3{
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    height: 100%;
    overflow-x: hidden;
    /* width: 100%; */
    background-size: contain;
    overflow-y: hidden;

}
.crewintro-text{
    font-family: barlow;
    letter-spacing: 3px;
    font-size: 20px;
    width: unset;
    margin: unset;
    margin-top: unset;

}
.crew-img1 img{
width: 400px;
height: 550px;
margin-left: 3rem;
object-fit: cover;
/* for commander */
}
.crew-img img{
    width: 600px;
    margin-left: 0rem;
    height: 700px;
    object-fit: contain;
    
    }
.crewtext-content{
    /* background-color: aqua; */
    height: 300px;
    gap: 0px;
}

.circle-navigation{
    width: 100px;
    left: 50%;
  
}
.circle{
    width: 12px ;
    height: 11px;
    background-color: #50535b;
    border-radius: 50%;
}
.circle.active{
    background-color: white;
}
.crew-title{
    font-family: belle;
    font-size: 30px;
}
.crew-membername{
    font-family: belle;
    font-size: 40px;
}
.crew-bio{
    font-family: barlow;
    letter-spacing: 1px;
    font-weight: 400;
    font-size:20px;
    width: 80%;
    margin: 0 auto;

}

/* for spacelaunch page */
.body-container4{
    background-image: url(../assets/technology/background-technology-tablet.jpg);
    height: 100vh;
    overflow-x: hidden;
    width: 100%; 
    background-size: cover;
}
.space-img{
    background-image: url(../assets/technology/image-launch-vehicle-landscape.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    background-position: center;
}
.technology-spacetitle{
 font-family: barlow;
 letter-spacing: 3px;
 font-size: 25px;
}
.spacebtn-container{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.spacebtn-container a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    color: white;
    font-family: belle;
    font-size: 20px;
}
.spacebtn-container a.active{
    background-color: white;
    color: black;
}
.spacetext-title{
    font-family: barlow;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}
.space-topic{
    font-size: 40px;
    font-family: belle;
}
.space-paragraph{
    font-family: barlow;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 0px 15px;
    letter-spacing: 1px;
}
}
@media screen and (min-width:900px) {

    .options-container{
        width: 60%;

    }
    .hero-container{
        height: 600px;
        margin-top: 4rem;
    }
    /* for index.html herocontainer */
    .hero-container{
        height: 700px;
        margin-top: 4rem;
    }
    .hero-moon {
        width: 100%;
        margin: 0 auto;
    }
    .hero-moon img{
        width: 400px;
        margin-bottom: 1rem;

    }
     /* for crew-pages */
     .body-container3{
        background-image:url(../assets/crew/background-crew-desktop.jpg);
        height: 165%;
        overflow-x: hidden;
        /* width: 100%; */
        background-size: cover;
        overflow-y: hidden;
        
    
    }
    
      /* for space img */
      .space-img{
        height: 350px;
        display: non;
    }

}

@media screen and (min-width:1200px) {

    .technology-container{
        max-width: 1300px;
        margin: 0 auto;

    }
    .header{
        margin: unset;
        margin-top: 2rem;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
   /* for index.html */
   .hero-textsection{
    width: 50%;
    align-items: flex-start;
    
   }
   .hero-container.home{
    height: 550px;
    
   }
   .hero-textsection p:last-child{
    width: 100%;
    margin-top:5px;
     letter-spacing: .7px;
    font-size: 18px;
 }
 .options-background.homepage{
    /* opacity: 90%; */
    backdrop-filter: blur(15px);
   background-color: unset;
}
   /* .hero-textsection div{
    margin: unset;
   } */
   .hero-container1{
    align-items: center;
   }
   
   
    .body-container1{
    background-image: url(../assets/home/background-home-desktop.jpg);
   }
   
    /* all hover */
    ul>li:hover{
      padding-bottom: 0px;
      border-bottom: 3px solid #50535b;
      border-width: 100%;
      transition: border-width 0.3s ease-in;
      cursor: pointer;

    }
    .active2:hover{
        border-bottom: 3px solid white;
    }
    .options li a span{
        display: flex;
        font-size: 16px;

    }
    .options li a{
        font-size: 16px;
        display: flex;

    }
    .body-container2{
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
    .logo{
        width: 50px;
    }
    .header-line{
        background-color: #50535b;
        height: 2px;
        width: 40vw;
        left:9rem ;

     }
    .hero-container{
        max-width: 1300px;
        margin: 5rem auto;
        height: 82vh;
    }
    .options-container{
        width: 60%;
        
    }
    .options{
        padding-left: 5rem;
    }
    .hero-moon p{
        font-size: 25px;
        margin-top: -2rem;
        margin-bottom: 3rem;
    }
    .hero-moon img{
        margin-bottom: 0px;
    }
    .herotext-content{
        max-width: 50%;
    }
  /* for crew-pages */
    .body-container3{
        background-image:url(../assets/crew/background-crew-desktop.jpg);
        height: 110vh;
        overflow-x: hidden;
        /* width: 100%; */
        background-size: cover;
        overflow-y: scroll;
        
    
    }
    .crewhero-container{
        max-width: 1300px;
        margin: 0 auto;
    }
    .crewhero-content{
        height: 600px;
        
        /* background-color: aqua; */
    }
    .crew-img img{
        width: 100%;
        margin: unset;
        
    }
    .crewintro-text{
        font-size: 30px;
        margin-left: 3rem;
    }
    .crew-title{
        font-family: belle;
        font-size: 40px;
    }
    .crew-membername{
        font-family: belle;
        font-size: 50px;
    }
    .crew-bio{
        font-family: barlow;
        letter-spacing: 1px;
        font-weight: 400;
        font-size:20px;
        width: 80%;
        margin: 0 auto;
    }
    /* for technology page */
    .body-container4{
        background-image: url(../assets/technology/background-technology-desktop.jpg);
    }
    .spacebtn-container{
      height: 280px;
    }
    .spacebtn-container a{
        width: 70px;
        height: 70px;
    }
    .spacebtn-text{
        width: 60%;
    }
    /* start of */
    .space-img{
        background-image: url(../assets/technology/image-launch-vehicle-portrait.jpg);
        height: 600px;
        object-fit: contain;
    }
    .space-img2{
        background-image: url(../assets/technology/image-spaceport-portrait.jpg);
        height: 600px;
        object-fit: contain;
    }
    .space-img3{
        background-image: url(../assets/technology/image-space-capsule-portrait.jpg);
        height: 600px;
        object-fit: contain;
    }
    /* end of other background images in the tech page */
    .spacetext-title{
        font-size: 27px;
    
    }
    .space-topic{
        font-size: 50px;
    }
    .space-paragraph{
        width: 80%;
    }
  
   
}
@media screen and (min-width:1300px) {
    .header-line{
        width: 500px;
    }
}
@media screen and (min-width:1400px) {
    .logo{
        width: 50px;
    }
    .header-line{
        background-color: #50535b;
        height: 2px;
        width: 470px;
        left:12rem ;

     }
}
